<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>
        Acerca de mi mascota 
    </h1>
    <p>
        Mystic es una gatita que llego a mi vida gracias a una asociacion de rescate de animales, 
        mi suegra un dia me etiqueto en una publicacion de Facebook donde se anunciaba la adopcion
        de unos gatitos que habian sido encontrados en la calle, de todos los cachorros ella era la mas pequeña y fragil, y la unica hembra,
        aunque la gente parecio mas interesada en sus hermanitos, dejandola solita. Yo me enamore de ella en cuanto la vi, asi que decidimos 
        mi esposo y yo a adoptarla, preparamos todas las cosas que necesitaria y finalmente fuimos a recogerla
        de su hogar temporal.
    </p>
<p>
    Mystic es una gatita muy cariñosa y juguetona, le gusta comer atun y destruir cosas. 
    Sabe sentarse cuando se lo pido y dar la patita, tambien le gusta perseguir pelotas de papel y traermelas para que se las lance, 
    es como un perro!
    Pero tambien es malevolamente inteligente, pues sabe abrir puertas, entonces en las mañanas cuando decide que es hora del desayuno
    entra a mi cuarto y salta sobre de mi para despertarme D:
</p>
    <img src="images/2.jpg" width="650" height="1156" alt="foto 2">
    <a href="home"><li>Inicio</li></a>
</body>
</html>