<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>
        Bienvenidos a la pagina de mi mascota
    </h1>

    <img src="images/1.jpg" width="434" height="578" alt="foto 1">

    <a href="about"><li>Acerca de</li></a>
    <a href="works"><li>Trabajos</li></a>
    <a href="photo-gallery"><li>Galeria de fotos</li></a>
</body>
</html>