<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo gallery</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Galeria</h1>
    <a href="home"><li>Inicio</li></a>
    <div>
        <img src="images/1.jpg" width="434" height="578" alt="foto de mystic 1">
        <img src="images/2.jpg" width="325" height="578" alt="foto de mystic 2">
        <img src="images/3.jpg" width="325" height="578" alt="foto de mystic 3">
        <img src="images/4.jpg" width="408" height="230" alt="foto de mystic 4">
        <img src="images/5.jpg" width="500" height="600" alt="foto de mystic 5">
        <img src="images/6.jpg" width="500" height="600" alt="foto de mystic 6">
    </div>
    
</body>
</html>